.popups-overlay {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.7);
}

.popups-container {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  background-image: linear-gradient(90deg, #0B1129ff, #0F1F46ff, #224173ff 50%, #0F1F46ff, #0B1129ff);
}