*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    90deg,
    #0b1129ff,
    #0f1f46ff,
    #224173ff 50%,
    #0f1f46ff,
    #0b1129ff
  );
  overflow: auto;
}

html {
  overflow-y: scroll;
  overflow-x: auto;
}

/* width */
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #969494;
}

*::-webkit-scrollbar-track-piece {
  background: #969494;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3d3d3d;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*::-webkit-scrollbar-corner {
  background: #969494;
}

body {
  text-align: left;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1.15rem;
  font-family: "Noto Sans", sans-serif;
  background-color: #0c0c0c;
  color: white;
}

.App {
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  color: white;
  text-align: center;
}
.error {
  color: rgb(255, 56, 56);
  text-align: center;
}
.userprofile-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.post-big-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}
