.comments-container {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.author-ava-container {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  overflow: hidden;
  grid-area: ava;
}

.author-ava {
  cursor: pointer;
  width: 44px;
  height: 44px;
  object-fit: cover;
  overflow: hidden;
}
.comments-info-container {
  width: 90%;
  font-family: "Noto Sans", sans-serif;
  margin-top: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  background-color: #3b3b3b;
  border-radius: 24px;
  margin-left: 2rem;
}
.author-name {
  font-weight: 700;
  margin-left: 10px;
}

.comments-author-info {
  display: flex;
  font-size: 0.85rem;
  align-items: center;
  justify-content: space-between;
}

.comment-date {
  margin-left: 10px;
}

.comment-content {
  color: rgb(197, 197, 197);
  margin-top: 0.75rem;
  font-size: 0.85rem;
}
.comment-delete {
  cursor: pointer;
  margin-right: 15px;
}
.comment-delete-title {
  font-size: 1rem;
  font-weight: 700;
}
.comment-delete-confirm{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.comment-delete-confirm-yes {
  background-color: rgb(248, 69, 69);
  padding:0.5rem 1.5rem 0.5rem 1.5rem;
}
.comment-delete-confirm-no {
  background-color: rgb(160, 160, 160);
  padding:0.5rem 2rem 0.5rem 2rem;
}