.chatroom-container {
  height: 38.5rem;
  width: 70%;
}

.chatroom-header {
  display: flex;
  padding-bottom: 8px;
  border-bottom: solid 1px white;
  height: 8%;
}

.chatroom-body {
  height: 74%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.message-input-box {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  padding: 2px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 1px;
  height: 18%;
}

.message-input {
  flex-grow: 1;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  resize: none;
  overflow-y: auto;
}

.message-input:focus {
  outline: none;
}

.send-button {
  background-color: #0084ff;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #0069c0;
}

.send-button i {
  font-size: 18px;
}

.message-box {
  background-color: #0084ff;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 60%;
  word-wrap: break-word;
  height: fit-content;
  margin-right: 10px;
}

.chatroom-body::-webkit-scrollbar {
  width: 3px;
}
 
.chatroom-body::-webkit-scrollbar-track {
  background-color: transparent;
}
 
.chatroom-body::-webkit-scrollbar-thumb {
  background-color: rgba(30, 70, 156, 0.678);
  outline: 1px solid rgb(66, 65, 65);
  border-radius: 5px;
}




