.conversation-sidebar {
  height: 38.5rem;
  width: 35%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.conversation-sidebar::-webkit-scrollbar {
  width: 3px;
}
 
.conversation-sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}
 
.conversation-sidebar::-webkit-scrollbar-thumb {
  background-color: rgba(30, 70, 156, 0.678);
  outline: 1px solid rgb(66, 65, 65);
  border-radius: 5px;
}

.closeSearch {
  margin-top: 25px;
  margin-left: 12px;

  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeSearch:hover {
  background-color: rgb(16, 25, 61);

}

.closeChat {
  margin-top: 25px;
  margin-left: 12px;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeChat:hover {
  background-color: rgb(16, 25, 61);
  
}